@{
    ViewBag.Title = "Inscritos";
}

<div id="inscritos"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#inscritos").load('@Url.Action("PartialViewInscritosNoCurso", "Cursos", new { id = ViewBag.CursoID, cursoNome = ViewBag.NomeDoCurso })');        
    });
</script>
